<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="assets/img/background.jpg" alt="..." />
                </div>
                <div class="content">
                    <p class="description text-center">
                        Recuerde que debe estar registrado para validar su solicitud
                    </p>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>identificacion</label>
                                        <input type="number" name="id" class="form-control border-input" [(ngModel)]="solicitud.identificacionConsulta" name="identificacionConsulta" placeholder="identificacion">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Empresa</label>
                                        <input type="text" class="form-control border-input" [(ngModel)]="solicitud.empresa" name="empresa"  placeholder="empresa">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nit</label>
                                        <input type="number" class="form-control border-input" [(ngModel)]="solicitud.nit" name="nit" placeholder="nit">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Salario</label>
                                        <input type="number" max="100000000" class="form-control border-input" [(ngModel)]="solicitud.salario" name="salario"  placeholder="salario">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha Ingreso</label>
                                        <input type="date" class="form-control border-input" [(ngModel)]="solicitud.fechaIngreso" name="fechaIngreso"  placeholder="fechaIngreso">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="validarSolicitud()">Validar Solicitud</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Registrar Usuario</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>identificacion *</label>
                                    <input type="number" [(ngModel)]="cliente.identificacion" name="id" class="form-control border-input" placeholder="identificacion">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombres *</label>
                                    <input type="text" [(ngModel)]="cliente.nombre" name="nombre" class="form-control border-input" placeholder="nombre">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apellidos *</label>
                                    <input type="text" [(ngModel)]="cliente.apellido" name="apellido" class="form-control border-input" placeholder="apellido">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Fecha nacimiento *</label>
                                    <input type="date" [(ngModel)]="cliente.fechaNacimiento"  name="fechaNacimiento" class="form-control border-input" placeholder="fechaNacimiento">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" (click)="guardarCliente()">Guardar cliente</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>